body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
    width: 14%;
}

th {
    background-color: #f0f0f0;
}

td {
    background-color: white;
}

.navigation {
    margin: 10px 0;
}

.navigation a {
    padding: 10px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    margin: 0 5px;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #0056b3;
}

.a_tag{
    text-decoration: none;
    color: black;
}
